.center {
    background-color: #fff;
    // border-right: 1px solid;
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    // height: 250px;
//   overflow-y: scroll;
-ms-overflow-style: none;  /* Internet Explorer 10+ */
scrollbar-width: none;  /* Firefox */
    flex-direction: column;
    .messages-container::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
    .chat-header    {
       
        display: flex;
        align-items: center;
        border-bottom: 0.6px solid lightgray;
        background-color: white;
        // border-bottom: 1px solid grey;
        padding: 10px;
            display: flex;
        height: 70px;
        align-items: center;

        justify-content: space-between;
        .chat-header-right {
            display: flex;
            div  > .expand-toggle{
                cursor: pointer;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }
            div > .expand-toggle:hover {
                background-color: #f8f8f8;
                
            }
        }
    } // end of chat header
    .messages-container {
        display: flex;
        flex: 1;
        position: relative;
        flex-direction: column;
        overflow-y: scroll;
    //  padding-bottom: 20px;
        // background-color: yellow;
        padding: 10px;
        // padding: 10px;
        p {
            // color: green;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
        }
        // overflow-y: autzo;
        // overflow:auto;
    // border-bottom: 1px solid;

    .messages-container-loading {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p {
            // font-weight: 100;
            margin-top: 10px;
            color: rgb(200, 200, 200);
        } 
    }
    .message-container {
        margin-bottom: 10px;
       
        width: 100%;
        flex: 1;
        .top {
       
            padding: 10px;
            flex: 1;
            display: flex;
            div {
                
                align-self: flex-end;
                margin-right: 10px;
            }
            .message-contents {
                background-color: #f8f8f8;
        padding: 10px;
                
            }
            
            .message-contents {

                display: inline-block;
                width: fit-content;
                max-width: 80%;
          padding:10px;
          border-radius:5px;
        
        
        color: white;
                // flex:1;
                // min-height: 100px;
                
                // overflow: hidden;
                // background-color: #fff;
                background-color: #50A9E1;
                // color: white;
        
                align-self: flex-end;
                display: flex;
                margin:5px;
                scroll-margin: 20px;
                
                margin-bottom: 7px;
    
    
            }

        }
        .bottom {
            text-align: center;
    padding: 10px;
    flex: 0.5;
        }
       
    }
   .message-container.left {
       display: flex; 
    flex-direction: column;
    .top {
        .message-contents {

            color: black;
        background-color: #f8f8f8;
        }
    }
    

    } // end of left message

   .message-container.right {
     
     .top {
        align-self: flex-end;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        // height: 100px;
        margin-bottom: 10px;
        
       
     }

};

 
    
  
  
    } // end of messages container
    
    .message-box-container {
        // height: 100%;
        position: relative;
        background-color:white;
        box-shadow: rgba(139, 139, 143, 0.2) 0px 7px 29px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 0px;
        width: 100%;
        height: 60px;
        // border-top: 0.5px solid lightgray
    }
    .messages-send-box {
        padding: 10px;
        // background-color: white;
        // background-color: blue;
        // border: 0.2px solid lightgray;
        background-color: #f8f8f8;
        flex: 1;
        display: flex;
        align-items: center;

        height: 80%;
        // height: inherit;
        margin: 15px 10px 15px;
        // margin: 10px;
        
        border-radius: 10px;
        padding: 10px;
        *:focus {
            outline: none;
        }
        input {
            width: 100%;
        background-color: #f8f8f8;
        
        // background-color: blue;
        border-style: none;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 0.9rem;
        // height:100%; 
        display: flex;
        align-items: center;
        padding: 10px;
        // text-align: center;
        }
    .emoji {
        cursor: pointer;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        
        border-radius: 50%;
    }
    .emoji:hover {
        background-color: lightgray;
    }
    }

    // End of middle
    .image-upload>input {
        display: none;
      } 
    .message-box-container-left {
        display: flex;
        .item:hover {
            background-color: lightgray;

            
        }
        .item {
            margin-right: 10px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
            display: flex;
            
            border-radius: 50%;
        }
        
    }
    .emoji-box-container::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
    .emoji-box-container {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        // padding: 10px;
        background-color: white;
        // border: 1px solid;
        border-radius: 10px;
        z-index: 1;
      display: flex; 
        flex-direction: column;
        position: absolute;
        right: 0;
        margin-right: 30px;

        // bottom: 0;
//  botto      :  -230;
top: -100;

margin-bottom: 300px;
// margin-bottom: 35%;

        
        width: 50%;
        height: 250px;
        .emoji-contents {
            overflow-y: auto;
            overflow-x: hidden;
            padding: 10px;
            display: grid;
        height: 100%;
        width: 100%;
            grid-auto-rows: auto;
            grid-template: repeat(3, 1fr) / repeat(15, 1fr);
       column-gap: 8px;
       row-gap: 8px;
margin-top: 15px;
.emojiIcon:hover{
    background-color: lightgray;
}
       .emojiIcon {
        cursor: pointer;
        // overflow: hidden;
        // background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        }
        .emojiheader-container {
            padding: 10px;
            // background-color: yellow;
        .emojiheader-container-search {
            height: 100%;
            padding: 7px;
            background-color: #f8f8f8;
            // background-color: green;
            display: flex;
            align-items: center;
            border-radius: 10px;
            input {
                flex: 1;
                height: inherit;
                padding: 5px;
                margin-left: 10px;
                border-style: none;
                background-color: inherit;
                font-size: 1rem;

            }
        }
        }
       
    .emojibottom {
        border-top: 0.6px solid lightgray;
        margin-top: 10px;
        display: grid;
        padding: 10px;
        width: 100%;
        height:60px;
        align-items: center;
        grid-auto-rows: auto;
        grid-template: repeat(3, 1fr) / repeat(8, 1fr);
   column-gap: 8px;
//    row-gap: 8px;
   .item {
    // background-color: green;
    
   }
      
    }
    }
}

