.center {
  background-color: #fff;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  flex-direction: column;
  .messages-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .chat-header {
    display: flex;
    align-items: center;
    border-bottom: 0.6px solid lightgray;
    background-color: white;
    // border-bottom: 1px solid grey;
    padding: 10px;
    display: flex;
    height: 70px;
    align-items: center;

    justify-content: space-between;
    .chat-header-right {
      display: flex;
      div > .expand-toggle {
        cursor: pointer;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      div > .expand-toggle:hover {
        background-color: #f8f8f8;
      }
    }
  } // end of chat header
  .timeline-container {
    // margin-top: 10px;
    //  position: relative;
    // Divider
    border: none;
    .time-divider {
      display: flex;
      background-color: #f1f1f1;
      align-items: center;
      justify-content: center;
    }
    // BUBBLE CONTAINER
    .bubble:hover {
      background-color: blue;
    }
    .bubble {
      position: relative;
      // background-color: green;

      display: flex;
      // margin: 10px;
      padding: 10px;

      .message-content {
        // background-color: orange;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5px 1px;
        background-color: #f1f1f1;
        max-width: 70%;
        margin-top: 5px;
        padding: 5px;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 10px;

        .message-time {
          border-radius: 10px;
          margin-top: 5px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          // background-color: blue;
          .time {
            margin-right: 10px;
          }
          p {
            // // color: black;
            // font-weight: 300;
            // // font-size: 0.9rem;
          }
        }
      }
      .userimage-container {
        display: flex;
        align-items: flex-end;
      }

      .details {
        display: none;
        // background-color: red;
        margin-left: 10px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .item {
          cursor: pointer;
          display: flex;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          margin-right: 5px;
        }
        .item:hover {
          background-color: lightgray;
          icon {
            color: lightgray;
          }
        }
      }

      .reactions-container {
        background-color: white;
        border: 1px solid;
        padding: 10px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
      }
    }
    .bubble.right:hover {
      // background-color: blue;
      .details {
        display: flex;
      }
    }
    .bubble.right {
      border: none;
      display: flex;
      background-color: white;
      width: 100%;
      justify-content: flex-end;
      .details {
        display: none;
        // background-color: red;
        margin-left: 10px;
        // display: flex;
        flex-direction: row;
        align-items: center;
        .item {
          cursor: pointer;
          display: flex;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          margin-right: 5px;
        }
        .item:hover {
          background-color: lightgray;
          icon {
            color: lightgray;
          }
        }
      }

      .message-content {
        background-color: var(--main-color);
        color: white;

        .message-time {
          // border-radius: 10px;
          margin-top: 5px;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          // background-color: blue;
          .time {
            margin-right: 10px;
          }
          p {
            // // color: black;
            color: #fff;
            font-weight: 300;
            // font-size: 0.9rem;
          }
        }
      }
    }
  }
  .messages-container {
    display: flex;
    background-color: white;
    flex: 1;
    position: relative;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 10px;
    // padding: 0 15px;

    p {
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.5rem;
    }

    .messages-container-loading {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        margin-top: 10px;
        color: rgb(200, 200, 200);
      }
    }
    .text-container:hover {
      // background-color: blue;
      .action {
        display: flex;
      }
    }
    .text-container.selected {
      background-color: yellow;
    }
    .text-container {
      display: flex;
      width: 100%;
      position: relative;
      padding: 10px;
      border: 1px solid;
      margin-top: 10px;
      .action {
        display: none;
      }
      .selected-modal {
        background-color: green;
      }
      .modal-container {
        background-color: white;
        border-radius: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        border: 1px solid;
        width: 200px;
        z-index: 1;
      }
    }
    .message-container {
      margin-bottom: 3px;
      border: none;
      flex: 1;

      .time-divider {
        text-align: center;
        width: 100%;
        align-items: center;
      }

      // MESSAE UBBLE MAIN
      .message-bubble:hover {
        .details.hidden {
          display: flex;
        }
      }
      .message-bubble {
        position: relative;
        display: flex;
        border: none;
        flex: 1;
        // User image container
        .userimage-container {
          align-self: flex-end;
          margin-right: 10px;
        }

        // Message
        .message {
          // font-weight: 300;
          // font-size: 0.9rem;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5px 1px;
          background-color: #f1f1f1;
          max-width: 70%;
          margin-top: 5px;
          padding: 5px;
          width: fit-content;
          padding: 3px 10px;
          border-radius: 10px;

          .message-time {
            border-radius: 10px;
            margin-top: 5px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            // background-color: blue;
            .time {
              margin-right: 10px;
            }
            p {
              // // color: black;
              // font-weight: 300;
              // // font-size: 0.9rem;
            }
          }
          p {
            font-weight: 300;
            font-size: 0.9rem;
            color: var(--text-color);
          }
        }

        // Settings
        .details.hidden {
          display: none;
        }
        .details {
          display: none;
          // background-color: red;
          margin-left: 10px;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          .item {
            cursor: pointer;
            display: flex;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
          }
          .item:hover {
            background-color: lightgray;
            icon {
              color: lightgray;
            }
          }
        }

        // REACTION MODAL
      }

      // MESSAGE ON THE RIGH
      .message-bubble.right:hover {
        .details {
          flex-direction: row;
        }
      }
      .message-bubble.right {
        position: relative;

        .reactions-container {
          background-color: blueviolet;
          margin-right: 10px;
          width: 250px;
          border-radius: 30px;
          position: absolute;
          z-index: 999;
          display: flex;
          align-items: center;
          padding: 10px;
        }
        margin-top: 20px;
        justify-content: flex-end;
        .message {
          background-color: var(--main-color);
          p {
            color: white;
          }
        }
      }
    }
  } // end of messages container

  .message-box-container {
    // height: 100%;
    position: relative;
    background-color: white;

    box-shadow: rgba(139, 139, 143, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0px;
    width: 100%;
    height: 60px;
    border-top: 0.2px solid lightgray;
  }
  .messages-send-box {
    padding: 10px;
    // background-color: white;
    // background-color: blue;
    // border: 0.2px solid lightgray;
    background-color: #f8f8f8;
    flex: 1;
    display: flex;
    align-items: center;

    height: 80%;
    // height: inherit;
    margin: 15px 10px 15px;
    // margin: 10px;

    border-radius: 10px;
    padding: 10px;
    *:focus {
      outline: none;
    }
    input {
      width: 100%;
      background-color: #f8f8f8;

      // background-color: blue;
      border-style: none;
      border-radius: 10px;
      margin-right: 10px;
      font-size: 0.9rem;
      // height:100%;
      display: flex;
      align-items: center;
      padding: 10px;
      // text-align: center;
    }
    .emoji {
      cursor: pointer;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      display: flex;

      border-radius: 50%;
    }
    .emoji:hover {
      background-color: lightgray;
    }
  }

  // End of middle
  .image-upload > input {
    display: none;
  }
  .message-box-container-left {
    display: flex;
    .item:hover {
      background-color: lightgray;
    }
    .item {
      margin-right: 10px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      display: flex;

      border-radius: 50%;
    }
  }
  .emoji-box-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
  .emoji-box-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // padding: 10px;
    background-color: white;
    // border: 1px solid;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 30px;

    // bottom: 0;
    //  botto      :  -230;
    top: -100;

    margin-bottom: 300px;
    // margin-bottom: 35%;

    width: 50%;
    height: 250px;
    .emoji-contents {
      overflow-y: auto;
      overflow-x: hidden;
      padding: 10px;
      display: grid;
      height: 100%;
      width: 100%;
      grid-auto-rows: auto;
      grid-template: repeat(3, 1fr) / repeat(15, 1fr);
      column-gap: 8px;
      row-gap: 8px;
      margin-top: 15px;
      .emojiIcon:hover {
        background-color: lightgray;
      }
      .emojiIcon {
        cursor: pointer;
        // overflow: hidden;
        // background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .emojiheader-container {
      padding: 10px;
      // background-color: yellow;
      .emojiheader-container-search {
        height: 100%;
        padding: 7px;
        background-color: #f8f8f8;
        // background-color: green;
        display: flex;
        align-items: center;
        border-radius: 10px;
        input {
          flex: 1;
          height: inherit;
          padding: 5px;
          margin-left: 10px;
          border-style: none;
          background-color: inherit;
          font-size: 1rem;
        }
      }
    }

    .emojibottom {
      border-top: 0.6px solid lightgray;
      margin-top: 10px;
      display: grid;
      padding: 10px;
      width: 100%;
      height: 60px;
      align-items: center;
      grid-auto-rows: auto;
      grid-template: repeat(3, 1fr) / repeat(8, 1fr);
      column-gap: 8px;
      //    row-gap: 8px;
      .item {
        // background-color: green;
      }
    }
  }
}
