.messenger-container {
  position: relative;
  flex: 1;
  display: grid;
  height: calc(100vh - 40px);
  grid-template-columns: 20% 1fr 290px;

  grid-template-areas: "leftside center center rightside";
  height: 100vh;

  // IMAGE PRVIEW WHEN EXPANDED
  .image-preview {
    position: absolute;

    display: flex;
    flex: 1;

    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);

    .image-preview-modal {
      background-color: inherit;
      //   width: 50%;
      flex: 1;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      .image-content {
        flex: 1;
        margin-top: 50px;
        max-width: 60%;
        min-width: 40%;
        background-color: blue;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .modal-side {
        cursor: pointer;

        width: 70px;
        .icon {
          background-color: white;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .modal-side.right {
        background-color: inherit;
      }
    }
  }

  // Message reactions modal
  .message-reactions-modal {
    position: absolute;

    display: flex;
    flex: 1;

    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    backdrop-filter: blur(0.3px);
    justify-content: center;
    align-items: center;

    .message-reactions-modal-inner {
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: 30%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      header {
        display: flex;

        border-bottom: 0.5px solid lightgray;
        justify-content: space-between;
        align-items: center;
        .title {
          background-color: white;
          flex: 1;
          align-items: center;
          display: flex;
          justify-content: center;
          h1 {
            font-weight: 600;
            font-size: 1.2rem;
          }
        }
        padding: 10px;

        .closeBtn:hover {
          background-color: rgb(196, 196, 196);
        }
        .closeBtn {
          cursor: pointer;
          background-color: rgb(218, 218, 218);

          // background-color: white;
          width: 50px;
          height: 50px;
          color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .content {
        flex: 1;
        flex-direction: column;
        display: flex;
        // padding: 10px;
        .tabs {
          display: flex;
          // justify-content: space-evenly;
          padding: 10px;

          .options.selected {
            border-bottom: 7px solid var(--main-color);
          }
          .options:hover {
            background-color: rgb(196, 196, 196)
          }
          
          .options {
            cursor: pointer;
            align-items: center;
            // justify-content: center;
           
            display: flex;
            margin: 10px;
            width: 60px;
            height: 40px;
            // width: 100%;
          }
        }
      }
      .data {
        flex: 1;
        padding: 20px;
      .reaction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        border-bottom: 0.5px solid rgb(233, 233, 233);
        .left {
          display: flex;

          padding-bottom: 10px;
          align-items: center;
          h1 {
            margin-left: 10px;
            font-size: 1rem;
            
          }
        }
      }
      }
    }
  }
}
.messenger-container.toggleRight {
  grid-template-columns: 22% 1fr;
  grid-template-areas: "leftside center";
}
.mainLoading-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  h3 {
    font-weight: 300;
    color: grey;
  }
  .progressPercent {
    font-weight: 600;
    margin-top: 20px;
    font-family: "Franklin Gothic Medium";
  }
}
.progressbar {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  width: 350px;
  height: 5px;
  border-radius: 5px;
  background-color: #eee;
}
