.messenger-container {
  position: relative;
  flex: 1;
  display: grid;
  height: calc(100vh - 40px);
  grid-template-columns: 300px 1fr 290px;
  // background-color: yellow;
  // column-gap: 3px;
  // padding: 10px;
  grid-template-areas: "leftside center center rightside";
  height: 100vh;

  // IMAGE PRVIEW WHEN EXPANDED
  .image-preview {
    position: absolute;
    // width: 100%;
    // height: 100%;
    background-color: blue;
    display: flex;
    flex: 1;

    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);

    // background-color: rgba(0, 0, 0, 0.2);

    //   justify-content: center;
    //   align-items: center;

    .image-preview-modal {
      background-color: inherit;
      //   width: 50%;
      flex: 1;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      .image-content {
        margin-top: 50px;
      }
      .modal-side {
        cursor: pointer;
        .icon {
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
      }
      .modal-side.right {
        background-color: inherit;
      }
    }
  }
}
.messenger-container.toggleRight {
  grid-template-columns: 300px 1fr;
  grid-template-areas: "leftside center";
}
.mainLoading-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  h3 {
    font-weight: 300;
    color: grey;
  }
  .progressPercent {
    font-weight: 600;
    margin-top: 20px;
    font-family: "Franklin Gothic Medium";
    // position: absolute;
    // left: 50%;
    // top: 10;
    // transform: translate(-50%,-50%);
    // color: #eee;
    // text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  }
}
.progressbar {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  width: 350px;
  height: 5px;
  border-radius: 5px;
  background-color: #eee;
}
