@import "./center_header";
@import "./center_emoji_modal";
@import "./center_bottom_reply";
@import "./center_message_box";
@import "./center_time_line";
@import "./center_chat_box_left";
@import "./center_chat_box";
.center.empty {
  background-color: white;
  flex: 1;
  justify-content: center;
  align-items: center;
  h1 {
    color: black;
  }
  .plus-container:hover {
    background-color: var(--main-color-light)
  }
  .plus-container {
    // background-color: blue;
    // width: 50px;
    // height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
   background-color: var(--main-color);
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
    padding:  10px;

    h1 {
      color: white;
      font-size: 0.9rem;
    }

  }
}
.center {
  background-color: #fff;
  position: relative;
  display: flex;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  flex-direction: column;
  .messages-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .timeline-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    border: none;
  }
  .messages-container {
    display: flex;
    background-color: white;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 10px;
    p {
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.5rem;
    }

    .messages-container-loading {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        margin-top: 10px;
        color: rgb(200, 200, 200);
      }
    }

    .message-container {
      margin-bottom: 3px;

      border: none;
      flex: 1;
    }
  } // end of messages container
}
