.emoji-box-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
  .emoji-box-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 30px;
    top: -100;

    margin-bottom: 300px;
    // margin-bottom: 35%;

    width: 50%;
    height: 250px;
    .emoji-contents {
      overflow-y: auto;
      overflow-x: hidden;
      padding: 10px;
      display: grid;
      height: 100%;
      width: 100%;
      grid-auto-rows: auto;
      grid-template: repeat(3, 1fr) / repeat(15, 1fr);
      column-gap: 8px;
      row-gap: 8px;
      margin-top: 15px;
      .emojiIcon:hover {
        background-color: lightgray;
      }
      .emojiIcon {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .emojiheader-container {
      padding: 10px;
      .emojiheader-container-search {
        height: 100%;
        padding: 7px;
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        border-radius: 10px;
        input {
          flex: 1;
          height: inherit;
          padding: 5px;
          margin-left: 10px;
          border-style: none;
          background-color: inherit;
          font-size: 1rem;
        }
      }
    }

    .emojibottom {
      border-top: 0.6px solid lightgray;
      margin-top: 10px;
      display: grid;
      padding: 10px;
      width: 100%;
      height: 60px;
      align-items: center;
      grid-auto-rows: auto;
      grid-template: repeat(3, 1fr) / repeat(8, 1fr);
      column-gap: 8px;
      //    row-gap: 8px;
      .item {
        // background-color: green;
      }
    }
  }