// @import './center_message_left' ;
// @import './center_reply_left' ;
.chat-box-container.left {
  border: none;
  .message-container,
  .reply-container {
    flex-direction: row;
    justify-content: flex-start;
  }

  // Message container left
  .message-container {
    .left {
      display: flex;
      margin-right: 0px;
      align-items: flex-end;
    }

    // Message content
    .message-content {
      background-color: #f1f1f1;
      color: black;
    }

    // MESSAGE SETTINGS
    .message-settings {
      display: none;
      margin-left: 5px;
      flex-direction: row-reverse;
    } // end of messae settings
  }

  // Reply container
  .reply-container {

    .left {
      align-items: flex-end;
      display: flex;
      margin-right: 5px;
    }
    .reply-content {
      position: relative;
      display: flex;
      // justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      .parent-message:hover {
        background-color: rgb(150, 212, 251);
      }
      .parent-message {
        background-color: #f1f1f1;
        align-items: flex-start;
        justify-content: flex-start;
        color: black;
        border-top-left-radius: 10px;
        padding: 7px 5px;
        border-top-right-radius: 10px;
        display: flex;
        width: 200px;
      }
      .message-reply {
        background-color: #e2e2e2;
        width: 300px;
        color: black;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
}
